.blog {
  padding: 60px 0 160px;
  @media (max-width: 768px) {
    padding: 60px 0;
  }
  &__text {
    max-width: 575px;
    text-align: center;
    margin: 30px auto 40px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    @media (max-width: 1050px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    &::after {
      content: "";
      background-image: url("../../images/decor/blog-after.svg");
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;
      top: -25px;
      right: -20px;
      width: 126px;
      height: 53px;
      @media (max-width: 1230px) {
        right: 0;
      }
    }
  }
  &__item {
    max-width: 370px;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    @media (max-width: 1050px) {
      max-width: 100%;
    }
    &:hover {
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      .blog__link {
        color: $accent;
        svg {
          path {
            fill: $accent;
          }
        }
      }
    }
  }
  &__imglink {
    display: block;
    img {
      height: 288px;
      object-fit: cover;
      @media (max-width: 1050px) {
        width: 100%;
      }
    }
  }
  &__item-box {
    padding: 28px 35px 27px;
    @media (max-width: 1200px) {
      padding: 20px 15px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 375px) {
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      color: $default;
    }
  }
  &__author,
  &__date {
    position: relative;
    padding-left: 30px;
  }
  &__date {
    @media (max-width: 375px) {
      margin-top: 10px;
    }
  }
  &__author::before,
  &__date::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
  }
  &__author::before {
    background-image: url("../../images/icons/blog-user.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 25px;
  }
  &__date::before {
    background-image: url("../../images/icons/blog-clock.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 25px;
  }

  &__title {
    @extend %roboto-400;
    font-size: 22px;
    a {
      color: $title;
    }
  }
  &__link {
    color: $default;
    span {
      margin-bottom: 2px;
    }
  }
}
