.categories {
  padding: 120px 0;
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    margin: 0 auto 55px;
    text-align: center;
    max-width: 570px;
  }
  &__items {
    display: grid;
    min-height: 635px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 35px;
    &:nth-child(1) {
      grid-row: span 2;
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #5800e4;
      }
    }
    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-top: 0;
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: $accent;
      }
    }
    &:nth-child(3) {
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #ffb534;
      }
    }
    &:nth-child(4) {
      .categories__item-subtitle,
      .categories__item-link:hover {
        color: #34c3ff;
      }
    }
  }
  &__item-subtitle {
    margin-bottom: 5px;
  }
  &__item-title {
    @extend %roboto-700;
    font-size: 22px;
    color: $title;
    margin-bottom: 10px;
  }
  &__item-link {
    @extend %roboto-400;
    display: inline;
    text-transform: uppercase;
    color: $title;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  &::before {
    top: -40px;
    left: -44px;
    background-image: url("../images/decor/info-before.svg");
    width: 120px;
    height: 121px;
  }
  &::after {
    bottom: -24px;
    right: -24px;
    width: 65px;
    height: 52px;
    background-image: url("../images/decor/info-after.svg");
  }
  &__item {
    padding: 60px 30px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    max-width: 370px;
  }
  &__item-title {
    margin: 35px 0 10px;
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
  }
}
