.products {
  padding: 105px 0 120px;
  text-align: center;
  @media (max-width: 620px) {
    padding: 60px 0;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    max-width: 575px;
    margin: 0 auto;
    text-align: center;
  }
  &__items {
    padding: 65px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
    @media (max-width: 860px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px 15px;
    }
    @media (max-width: 620px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 25px;
    }
  }
}
