.promo {
  background-image: url("../images/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0 160px;
  text-align: center;
  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__clock {
    margin-bottom: 55px;
    display: flex;
    align-items: center;
  }
  &__clock-item {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & + & {
      margin-left: 20px;
    }
  }
  &__num {
    @extend %roboto-700;
    color: $title;
    font-size: 48px;
    margin: 12px 0 7px;
  }
}

.partners {
  padding: 110px 0 50px;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.Days {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 6757px;
  z-index: 178;
}
._28_Days {
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(41, 40, 45);
  font-weight: bold;
  line-height: 0.542;
  text-align: center;
  position: absolute;
  left: 1007.141px;
  top: 4892.93px;
  z-index: 177;
}
.Bg {
  position: absolute;
  left: 975px;
  top: 4835px;
  width: 121px;
  height: 120px;
  z-index: 176;
}
