.promo {
  background-image: url("../images/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 150px 0 160px;
  text-align: center;
  @media (max-width: 768px) {
    padding: 60px 0;
    background-image: none;
  }
  @media (max-width: 450px) {
    padding: 30px 0;
  }
  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 50px;
    @media (max-width: 450px) {
      margin-bottom: 20px;
    }
  }
  &__clock {
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    @media (max-width: 620px) {
      justify-content: center;
      flex-wrap: wrap;
    }
    @media (max-width: 450px) {
      margin-bottom: 30px;
    }
  }
  &__clock-item {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & + & {
      margin-left: 20px;
      @media (max-width: 620px) {
        margin-left: 35px;
      }
      @media (max-width: 450px) {
        margin: 8px;
      }
    }
    @media (max-width: 620px) {
      margin: 20px 35px;
    }
    @media (max-width: 450px) {
      margin: 8px;
    }
  }
  &__num {
    @extend %roboto-700;
    color: $title;
    font-size: 48px;
    margin: 12px 0 7px;
  }
}

.partners {
  padding: 110px 0 50px;
  @media (max-width: 620px) {
    padding: 60px 0;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 620px) {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      padding-bottom: 60px;
    }
  }
  &__item {
    @media (max-width: 620px) {
      margin: 10px 35px;
    }
    @media (max-width: 500px) {
      margin: 10px 21px;
    }
    @media (max-width: 450px) {
      margin: 10px 25px;
    }
  }
}
