.products {
  padding: 105px 0 120px;
  text-align: center;
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    max-width: 575px;
    margin: 0 auto;
    text-align: center;
  }
  &__items {
    padding: 65px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
  }
  &__link {
    @extend %roboto-400;
    color: $title;
    line-height: 1;
    padding: 15px 25px;
    border: 1px solid $accent;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s;
    &:hover {
      background-color: $accent;
      filter: brightness(1.5);
      color: #fff;
    }
  }
}
