.shop-content {
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 40px;
  }
  &__filter {
    margin-bottom: 40px;
    border: 1px solid #ececec;
    padding: 20px 25px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
