.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../../images/icons/home-icon.svg");
    background-repeat: no-repeat;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    color: #727272;
    padding-right: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../../images/icons/angle-right.svg");
      background-repeat: no-repeat;
      top: 9px;
      right: 15px;
      height: 10px;
      width: 9px;
    }
    &:last-child {
      color: $accent;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}
