.filter-tags {
  &__title {
    text-transform: none;
  }
  &__label {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px 0;
  }
  &__input {
    @extend %checkbox-hide;
    &:checked + .filter-tags__checkbox {
      background-color: $accent;
      color: #fff;
      border-color: $accent;
    }
  }
  &__checkbox {
    padding: 10px 15px;
    border: 1px solid $default;
  }
}
