.footer {
  background-color: $bg;
  & a {
    font-size: 16px;
    color: $default;
    @extend %quicksand-500;
  }
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &__item:first-child {
    max-width: 250px;
    margin-right: 50px;
  }
  &__item:nth-child(2),
  &__item:nth-child(3) {
    max-width: 170px;
    width: 100%;
    margin-right: 30px;
  }
  &__item:last-child {
    max-width: 470px;
  }
  &__logo {
    display: block;
    margin-bottom: 35px;
  }
  &__address,
  &__email,
  &__phone {
    margin-bottom: 14px;
    display: block;
  }
  &__social-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  &__social-item + .footer-top__social-item {
    padding-left: 18px;
  }
  &__social-link {
    path {
      fill: $default;
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
  &__title {
    color: $title;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 40px;
  }
  &__link {
    transition: color 0.3s;
    margin-bottom: 14px;
    display: block;
  }
  &__list-item:hover {
    .footer-top__link {
      color: $accent;
    }
  }
  &__text {
    margin-bottom: 25px;
  }
  &__form-input {
    background-color: #fff;
    max-width: 320px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    transition: all 0.3s ease;
    &:focus {
      outline: 1px solid $accent;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.7);
    }
    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }
  &__form-btn {
    border: none;
    padding: 12px 18px;
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  &__accept {
    display: flex;
    align-items: center;
  }
  &__accept-img {
    margin-left: 25px;
  }
}
