.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__item + .menu__item {
    margin-left: 35px;
  }
  &__link {
    color: $title;
    @extend %quicksand-400;
    text-transform: uppercase;
    padding-bottom: 0 2px 1px;
    transition: all 0.3s;
    @extend %roboto-700;
    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    & + & {
      margin-left: 25px;
    }
    svg path {
      transition: fill 0.3s;
    }
  }
  &__link:hover {
    svg path {
      fill: $accent;
    }
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $accent;
    border-radius: 50%;
    top: -9px;
    right: -14px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
  }
}

.header--404-page {
  background-color: $bg;
}
